 #container{
    width: 80%;
 }
 #container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    padding: 10px 10px;
    gap: 10px;
    text-align: center;
 }
 #container img{
    width: 100%;
 }
 #head{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
 }
 #head img{
    width: 10%;
 }
 #head i {
    color: pink;
    padding: 0px 15px;
 }
 #head p{
    color: black;
    padding: 0px 10px;
 }
 #head1{
    display: flex;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgb(0, 174, 255);
    margin: 0%;
    color: white;
 }