
#top{
    display: flex;
    background-color: rgb(242, 239, 239);
}

#top1{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 10px 10px;
    justify-content: space-between;
    text-align: center ;
    justify-items: center;
    background-color: rgb(242, 239, 239);
}
#top>div>img{
    width: 100px;
}
#top2{
    width: 80%;
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    text-align: center;
    grid-gap: 50px;
}
#top2>div{
    display: grid; 
    grid-template-columns: repeat(6,1fr);
    margin: auto;
}
#top2 a{
    color: black;
    text-decoration: none;
}
#top2{
    width: 100%;
    margin: auto;
}
#top2 i {
    color: pink;
    padding: 5px 5px;
}
nav {
    width: 80%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
}
nav p:hover{
    color: pink;
}
#slide>img{
    width: 100%;
}
#choice{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#choice>div{
    display: flex;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;



}
#choice>div>img{
    width: 100%;
}

#sephorabrand>img{
    width: 100%;
}
#nw{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw>div{
    display: flex;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
}
#nw>div>img{
    width: 100%;
}

#nw1{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw1>div{
    display: flex;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
}
#nw1>div>img{
    width: 100%;
}

#nw2>img{
    width: 100%;
}
#nw3>a{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
}

#nw4{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 20px 20px;
    justify-content: right;
    text-align: center;
    
}
#nw4>div{
    width: 100%;
}
#nw4>div>img{
    width: 100%;
}
#nw4>div>p{
    text-align: center;
    font-family: sans-serif;
}
#img{
    width: 1%;
}
#nw5{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center ;
    justify-content: space-between;
}


#nw5>img{
    width: 100%;
}
#nw6>img{
    width: 100%;
}

#nw7{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw7>div{
    display: flex;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
}
#nw7>div>img{
    width: 100%;
}
#nw8>img{
    width: 100%;

}

#nw9{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw9>div{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-around;
}
#nw9>div>img{
    width: 100%;
}
#nw10>img{
    width: 100%;
}
#nw11{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw11>div{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-around;
}
#nw11>div>img{
    width: 100%;
}
#nw12{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw12>div{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-around;
}
#nw12>div>img{
    width: 100%;
}
#nw13>img{
    width: 100%;
}
#nw14{
    width: 80%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    justify-content: space-between;
}
#nw14>div{
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    justify-content: space-around;
}
#nw14>div>img{
    width: 100%;
}
.nw16{
    width: 80%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: auto;
   
}
.nw16>div{
     margin: auto;
    justify-content: space-around;
}
#searcbar{
    display: flex;
    height: 3vh;
    padding: 100px;
    padding-left: 0px;
    margin: auto;
}
#searcbar button{
    border: none;
    color: pink;
    background-color: white;
}
#searcbar input{
    border: none;
    border-bottom: 1px solid black;
}
#left{
    margin-left: 10px;
    padding-left: 100px;
}

#nw15{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: Monaco;
    background-color: rgba(201, 201, 201, 0.601);
}
#nw16{
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: Monaco;
    color: grey;
    padding: 10px 10px;
}

#nw16>div{
    width: 80%;
    text-align: center;
    justify-content: center;
}

#form{
    display: flex;
    justify-content: center;
    height: 50px;
    margin: auto;
    padding: 15px 15px;
    border: none;
}
#form>input{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    font-family: Avenir-Next,sans-serif;
    outline: 0;
    min-width: 1rem;
    min-height: 1rem;
    font-size: 1rem;
    flex-grow: 3;
    border: 0;
    padding: 15px;
    background: #fff;
}
#form>button{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    outline: 0;
    font-size: 1rem;
    flex-grow: 1;
    display: inline-block;
    border: 0;
    padding: 14px;
    background: #000;
    cursor: pointer;
    font-family: Avenir-NextBold;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
#nw17{
    display: flex;
    width: 50%;
    margin: auto;
    padding: 10px 10px;
    text-align: center ;
    justify-content: space-between;
}
#nw17>div{
    display: flex;
    width: 80%;
    line-height: 1.15;
-webkit-text-size-adjust: 100%;
font-size: 18px;
font-family: Avenir-Next,sans-serif;
letter-spacing: .3px;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
margin: 0 auto;
width: 100%;
padding-top: 30px;
padding-bottom: 35px;
text-align: center;
justify-content: space-evenly;
}
#nw17>div h5:hover{
    color: pink;
}
#nw18{
    display: flex;
    justify-content: center;
    
}
#nw18>div{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    
}
#nw18>div:hover{
    color: pink;
}
#nw18>div>i{
    width: 50px;
}

#nw19{
    display: flex;
    justify-content: center;
    margin: auto;
}
#nw19>p:hover{
    color: pink;
}
#nw19>p{
    padding: 5px 5px;
}
#nw20{
    text-align: center;
    font-family: sans-serif;
}
#nw20:hover{
    color: pink;
}
#nw21{
    width: 80%;
    margin: auto;
    
}
#nw21>div{
    display: flex;
    justify-items: center;
    justify-content: center;
}
#nw21>div>p{
    padding: 2px 2px;
}
#nw21>div>p:hover{
    color: pink;
}
#nw22{
    text-align: center;
    font-family: sans-serif;
}
#nw23{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}
#nw23>p{
    padding: 5px 5px;
    font-family: sans-serif;
}
#nw23>p:hover{
    color: pink;
}
#nw24>h2{
    text-align: center;
    font-family: sans-serif;
}
#nw25{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}
#nw25>p{
    padding: 5px 5px;
    font-family: sans-serif;
}
#nw25>p:hover{
    color: pink;
}
#nw26>h2{
    text-align: center;
    font-family: sans-serif;
}
#nw27{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}
#nw27>p{
    padding: 5px 5px;
    font-family: sans-serif;
}
#nw27>p:hover{
    color: pink;
}
#nw28>h2{
    text-align: center;
    font-family: sans-serif;
    margin: 0%;
}
#nw29{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}
#nw29>p{
    padding: 5px 5px;
    font-family: sans-serif;
}
#nw29>p:hover{
    color: pink;
}